<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div th:replace="layout/header :: siteHeader"></div>

<main class="login-container">
<h2>로그인</h2>
<form th:action="@{/login}" method="post">
    <input type="text" name="id" placeholder="ID" required/><br/>
    <input type="password" name="pw" placeholder="PW" required/><br/>
    <div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>
<div class="btn-row">
  <button type="submit" class="btn login-btn">Login</button>
  <button type="button" class="btn join-btn" onclick="location.href='/joinpage'">회원가입</button>
</div>
</form>
</main>
</body>
</html>
