<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MyPage</title>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:replace="layout/header :: siteHeader"></div>
<div class="page-content">
  <h2>마이페이지</h2>
  <span th:if="${session.login != null and session.login.rank == 'admin'}">
  	<button onclick="location.href='/adminlist'">관리자 페이지</button>
  </span>
  <button 
    th:onclick="|location.href='@{/myinfo/{user_no}(user_no=${session.login.user_no})}'|">
    회원정보수정
  </button>
  <button th:onclick="|location.href='@{/mycontent}'|">내가 쓴 글 보기</button>

  <br><br>

  <h3>회원정보</h3>
  <table>
    <tr><th>이름</th><td th:text="${member.name}"></td></tr>
    <tr><th>생년월일</th><td th:text="${member.birth}"></td></tr>
    <tr><th>주소</th><td th:text="${member.address}"></td></tr>
    <tr><th>전화번호</th><td th:text="${member.phone_number}"></td></tr>
    <tr><th>이메일</th><td th:text="${member.email}"></td></tr>
    <tr><th>닉네임</th><td th:text="${member.nickname}"></td></tr>
  </table>
  <div id="back">
  	<button onclick="location.href='/'">홈으로</button>
  </div>
</div>
</body>

</html>